language: ruby
rvm:
  - 2.2.0
before_install:
  - gem update --system
  - gem --version
before_script:
  - psql -c 'create database posts_manager_test;' -U postgres
script:
  - bundle exec rake db:migrate
  - bundle exec rake db:test:prepare
  - bundle exec rspec
