@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";

main {
  margin-bottom: 6rem;
}

button.close {
  padding: .25rem .425rem .75rem .375rem;
  line-height: .5;
  border: 1px solid #000;
  border-radius: 3px;
}

dl a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}
  dl a:hover {
    background: #f8f5f0;
    text-decoration: none;
  }

dl a + a {
  border-top: 1px solid #dfd7ca;
}

dd {
  color: #3E3F3A;
}

dd + dt {
  margin-top: 1rem;
}

footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  width: 100%;
}
  footer p:first-of-type {
    text-align: right;
  }
