@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}

main h1, h2 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

aside h1 {
  font-family: Oswald, serif;
  letter-spacing: -2px;
  font-weight: 400;
  text-transform: none;
}

nav + section {
  margin-top: 1rem;
}

dt:not(first-of-type) {
  margin-top: 1rem;
}

dt a {
  display: block;
}

time {
  display: block;
  margin-bottom: 1rem;
  font-style: italic;
}

.alert h3 {
  margin-top: 0;
}

aside ul {
  margin-top: 2rem;
}

.list-unstyled li + li {
  margin-top: 1rem;
}

footer {
  background: #fff;
  height: 4rem;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  width: 100%;
}
  footer p:first-of-type {
    text-align: right;
  }
