<section>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div data-alert class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div><%= msg %></div>
      </div>
    <% end %>
  <% end %>
</section>
